@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #eee;
  font-size: 15px;
}

#wrap {
  width: 650px;
  margin: auto;
  padding: 60px 75px;
  padding-bottom: 50px;
  background: white;
}

header {
  margin: auto;
}

section {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: darkblue;
}

h1, h2, h3 {
  font-family: 'Open Sans', serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  color: gray;
  margin: 0.5em 0 2em 1px;
}

h3 {
  font-size: 1.3em;
  margin: 2em 0 1em 0;
}

h4, p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

h4 {
  font-style: italic;
}

.right {
  float: right;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 2em 0;
}

ul {
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  list-style: square;
  margin: 1.5em 2em;
}

li {
  margin-top: 0.3em;
}

@media all and (max-width: 800px) and (min-width: 321px) {
  #wrap {
    width: 80%;
    padding: 50px 10%;
  }
}

@media all and (max-width: 320px) {
  body {
    background: white;
  }

  #wrap {
    width: 100%;
    padding: 20px;
  }

  h2 { margin-bottom: 1.3em; }
}

@media print {
  body {
    font-size: 14px;
  }

  #wrap {
    padding-bottom: 0;
  }
}

.no-break {
  page-break-inside: avoid;
}
