@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #eee;
  font-size: 16px;
}

#wrap {
  width: 650px;
  margin: auto;
  padding: 75px;
  padding-bottom: 50px;
  background: white;
  box-shadow: 0 0 5px #aaa;
}

header {
  width: 320px;
  margin: auto;
}

section {
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: darkblue;
}

h1, h2, h3 {
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  color: gray;
  margin: 0.5em 0 2em 1px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h4, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

h4 {
  font-style: italic;
}

ol {
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  list-style: square;
  margin: 1.5em 2em;
}

li {
  margin-top: 0.3em;
}

@media all and (max-width: 800px) and (min-width: 321px) {
  #wrap {
    width: 80%;
    padding: 75px 10% 50px 10%;
  }
}

@media all and (max-width: 320px) {
  body {
    background: white;
  }

  #wrap {
    width: 100%;
    padding: 20px;
  }

  h2 { margin-bottom: 1.3em; }
}
